/*Edit album page----------------------------*/
.fis-album-detail{
  width: 100%;
  background: #fff;
  padding: 30px;
  p{
    margin: 0;
    font-weight: 600;
  }
  button{
    width: 100%;
    margin-top: 10px;
  }
}

.fis-ask{
  margin: 200px auto;
  width: 400px;
  background: #fff;
  padding: 40px;
  button{
    margin: 5px;
    display: inline;
    width: 40%;
  }
}

/*End Edit album page----------------------------*/