.fis-setting{
  width: 40%;
  background: #fff;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .fis-setting-item{
     width: 80%;
     display: flex;
     flex-direction: row;

     div{
        align-items: flex-end;
        width: 70%;
     }
     p{
       font-size: medium;
       font-weight: bold;
       padding-top: 20px;
       text-align: left;
       vertical-align: middle;
       width: 30%;
     }
  }
  button {
    width: 80%;
    margin: 20px auto;
  }
}