/*View Album Page-------------------------*/
.galleria{
  width: 1200px;
  height: 550px;
  background: white;
  margin: 10px auto;
}

.fis-album-info {
  width: 1200px;
  margin: 10px auto;
  background: #fff;
  padding: 5px;
  height: 70px;
  p{
    margin: 0 0 0 5px;
  }
}

.fis-album-info-icon{
  position: relative;
  left: 1070px;
  bottom: 28px;
}

/*comment section*/
.fis-comment{
  margin: 5px auto;
  width: 1200px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  .fis-comment-input-container{
      width: 50%;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
      .fis-avatar-comment{
        width: 17%;
        cursor: pointer;
        img{
          width:60%;
          height: 60px;
          display: block;
          margin: 0 auto;
        }
      }
      .fis-comment-input{
        width: 80%;
        display: flex;
        flex-direction: column;
        .fis-comment-input-text{
          width: 100%;
        }
        .fis-comment-submit{
          align-self: flex-end;
          button{
            margin: 5px 0;
          }
        }
      }
  }
  .fis-comment-list{
    width: 600px;
  }
  .fis-comment-item{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin: 40px 0 20px 0;
    .fis-avatar-comment-list{
      width: 17%;
      cursor: pointer;
      img{
        width:60px;
        height: 60px;
        display: block;
        margin: 0 auto;
      }
    }
    .fis-comment-content{
      width: 90%;
      word-wrap: break-word;
      .fis-comment-header{
        font-weight: bold;
        cursor: pointer;
        span{
          font-weight: normal;
          font-size: small;
          margin-left: 5px;
        }
      }
    }
  }
}

.fis-hide{
  display: none;
}

/*End View Album Page-------------------------*/
.fb-comments{

}

.fis-like{
  color: #2948ff;
}